::-webkit-scrollbar {
  width: 0;
}

body {
	background-color: ghostwhite;
	margin: 0;
	padding: 0;
	font-family: "Cambria";
}

#pagediv {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}

#coverpage h1 {
	text-align: center;
}

#coverpage i {
	font-size: 18; 
}

#coverpage h2 {
	font-family: "Monotype Corsiva";
	text-align: center;
}

.eulerpic {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#credentials span {
	float: left;
}

#credentials span:nth-child(2) {
	float: right;
}


.lifeofeuler h2 i {
	font-weight: normal;
}

.lifeofeuler ul {
	list-style-type: "∫";
}

.contributions h2 {
	text-align: center;
}

.contributions ul {
	list-style-type: "Σ";
}

.contributions img {
	display: block;
}

.contributions .subjexp {
	font-style: italic;
	font-size: 12px;
}

#baselproblem {
	display: inline-block;
}

#eulersformula {
	display: inline-block;
}


/* Footer Div */
#footer {
	text-align: center;
	background-color: maroon;
	margin-bottom: 0;
	margin-top: 3rem;
	color: #eeeeee;
}